.container {
  height: 100vh;
  width: 100vw;
  justify-content: center;
  align-items: center;
  display: flex;
}
.containerWrapper {
  min-height: 87vh;
  min-width: 40vw;
  margin-top: auto;
  margin-bottom: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  background-color: blue;
}
.contentWrapper {
  min-height: 77vh;
  min-width: 35vw;
  margin-top: auto;
  margin-bottom: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;

  background-color: blue;
}
.firstRow {
  flex: 1;
  display: flex;
  color: white;
  justify-content: space-around;
  align-items: space-around;
  width: 80%;

  background-color: blue;
}
.secondRow {
  flex: 1;
  display: flex;
  color: white;
  justify-content: center;
  align-items: center;
  width: 80%;
  background-color: blue;
}
.secondRowInput {
  flex: 2;
}
.secondRowIconWrapper {
  flex: 0.5;
  justify-content: space-evenly;

  align-items: center;
  display: flex;
  flex-direction: row;
}
.secondRowDegreeWrapper {
  flex: 0.5;
  justify-content: space-evenly;

  align-items: center;
  display: flex;
  flex-direction: row;
}
.thirdRow {
  flex: 1;
  display: flex;
  color: white;
  justify-content: space-around;
  align-items: space-around;
  width: 80%;

  background-color: blue;
}
.fourthRow {
  flex: 1;
  display: flex;
  color: white;
  justify-content: space-around;
  align-items: space-around;
  width: 80%;
  font-size: 2em;
  background-color: blue;
}

.fifthRow {
  flex: 1;
  display: flex;
  color: white;
  justify-content: space-around;
  align-items: space-around;
  width: 80%;

  background-color: blue;
}
.sixthRow {
  flex: 1;
  display: flex;
  color: white;
  justify-content: space-around;
  align-items: center;
  width: 80%;

  background-color: blue;
}
.sixthRowThird {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.seventhRow {
  flex: 1;
  display: flex;
  color: white;
  justify-content: space-around;
  align-items: space-around;
  width: 80%;

  background-color: blue;
}
.eightRow {
  flex: 1;
  display: flex;
  color: white;
  justify-content: start;
  align-items: center;
  width: 80%;

  background-color: blue;
}
.ninethRow {
  flex: 1;
  display: flex;
  color: white;
  justify-content: start;
  align-items: center;
  width: 80%;
  max-height: 1px;
  background-color: white;
}

.tenthRow {
  flex: 1;
  display: flex;
  color: white;
  justify-content: space-around;
  align-items: space-around;
  width: 80%;
  background-color: blue;
}
